# PyCharm
.idea/
# Logs
*.log
# Python
*.pyc
# Numpy
*.npy
!example/**/*.npy
# LaTeX
report/*
!report/*.tex
!report/refs.bib
!report/gfx
!report/plots
presentation/*
!presentation/*.tex
!presentation/pics/*
# Notebook
analysis/moment_analysis/.ipynb_checkpoints/*
