# PyCharm
.idea/
# Logs
*.log
# Python
*.pyc
# Numpy
*.npy
!example/**/*.npy
# LaTeX: Upload only PDF files of report and presentation
report/*
!report/*.pdf
presentation/*
!presentation/*.pdf
# Notebook
analysis/moment_analysis/.ipynb_checkpoints/*
# Local simulation files
simulations/*
